.card-list {
    .delete-btn {
        right: 0;
        position: absolute;
        background: transparent;
        top: 0;
    }
    .custom-radio {
        display: block;
        padding: 8px 0;
    }
}
