.footer{
	position: fixed;
	left: 0;
	right: 0 ;
	bottom: 0;
	background-color:$footerBackgroundColor;
	background-color:var(--footer-background-color);
	min-height: $footerHeight;
	//padding:10px 15px;
	@include desktop{
		//padding:0 50px;
	}
	z-index:3;
	.footer-top-section{
		background-color:#f5f5f5;
		@include desktop{
			.footer-top-section-inner{
				display:grid;
				grid-template-columns: 260px 1fr 1fr 1fr;
				grid-gap: 45px;
				padding-top: 2rem;
				padding-bottom:2rem;
			}
		}
		& + .footer-bottom-section{
			background-color:#d1eeef;
			background-color:var(--primary);
			*{
				color:white;
			}
		}
		.footer-links{
			display:block;
			margin-bottom:0.5rem;
		}
	}
	.website-section{
		.logo{
			width:205px;
			height:auto;
		}
		.icon-holder{
			i{
				border:0px solid transparent;
			}
			margin-left:-13px;
			margin-bottom: 10px;
			margin-top: 10px;

		}
	}
	.other-info-section{
		padding:1rem 0;
		.section-title{
			font-size:18px;
			margin-top: 5px;
			position:relative;
			margin-bottom:2rem;
			&:after{
				content:"";
				position:absolute;
				left:0;
				height:1px;
				background-color:#333;
				background-color: #454545;
				bottom: -8px;
				width: 60%;
			}
		}
	}
	.right-sec{
		> * {
			@include notDesktop{
				margin-top: 1rem;
			}
		}
	}

	.footer-links{
		.item{
			display: inline-block;
			margin: 0 10px;
		}
	}

	.icon-holder{
		a{
			display: inline-block;
			cursor: pointer;
			margin: 0 5px;
		}
		i{
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border: 1px solid currentColor;
			display: inline-block;
			text-align: center;
			line-height: 32px;
			font-size: 18px;
			//color:#333;
		}
		.icon-instagram{
			//font-weight:bold;
		}
	}
	* {
		color:#333;
		color:var(--text-on-footer-background-color);
	}
	.footer-links {
		font-size: 1em;
		background: transparent;
		border: none;
		//color: #bebebe;
		//margin: 0;
		padding: 0;
		.item:hover{
			color:currentColor;
		}

	}
	&.un-fixed-footer{
		//@include notDesktop{
			position:static;
		//}
	}
}


.footer-links .item:hover {
	// cursor: pointer;
	// color: #005e3a;
	// text-decoration: underline;
}

